:root{

--blue: hsl(223, 87%, 63%);
--lightBlue: hsl(223, 87%, 73%);
--paleBlue: hsl(223, 100%, 88%);
--lightRed: hsl(354, 100%, 66%);
--gray: hsl(0, 0%, 59%);
--veryDarkBlue: hsl(209, 33%, 12%);
--white:  hsl(255,100%,100%);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Libre Franklin', sans-serif;
}

.flex{
	display: flex;
	flex-direction: column;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95%;

}

.container{
	width: 22em;
}
header{
	text-align: center;
	padding: 1em;
}
.logo{
	width: 4em;
	margin: 3em 0;
}
.main-heading{
	margin: 0.75em 0;
	font-size: 1.5rem;
	color: var(--gray);
	font-weight: 400;
}
.main-heading strong{
	color: var(--veryDarkBlue);
}
.sub-heading{
	font-size: 0.8rem;
	font-weight: 400;
	color: var(--veryDarkBlue);
}
.main-image{
    width: 22em;
    margin: 3em 0 0 0;
}
#formular{
	padding: 1em;
}
input::placeholder{
	color: var(--lightBlue);
}
.input-arr{
	display: flex;
	flex-direction: column;
}
#error-mess{
	color: var(--lightRed);
	font-size: 0.7em;
	padding: 0.5em;
	text-align: center;
}

.round{
	width: 100%;
	border-radius: 2em;
	border: 1px solid var(--paleBlue);
	padding: 1em 1.5em;
}
.btn{
	color: var(--white);
	border-color: var(--blue);
	background-color: var(--blue);
	margin: 1em 0;
	font-weight: 600;
	box-shadow: 2px 3px 10px var(--paleBlue);
	transition: 0.3s;
}

.btn:hover{
	background-color: var(--lightBlue);
}
#social{
	text-align: center;
	margin: 10em 0 3em 0;
}
#social span{
	text-align: center;
	color: var(--gray);
	font-size: 0.7rem;
}

#icons-row{
	margin:auto;
	display: flex;
	flex-direction: row;
	width: 8em;
	justify-content: space-between;
}
.icon-circle{
	border:  1px solid var(--paleBlue);
	width: 2em;
	height:2em;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.icon-circle:hover{
	background-color: var(--paleBlue);
}

.icon{
width: 12.5px;
height:12.5px;
}
.copy{
	margin: 2em 0;
	font-weight: 500;
	font-size: 0.75rem;
	color: var(--gray);
}
.attribution { 
	padding: 1em;
 	font-size: 11px; 
 	text-align: center; 
 	color: var(--veryDarkBlue);
}
.attribution a { 
    color: var(--blue); 
    text-decoration: none;
}
.hidden{
	display: none;
}

.error{
	border :1px solid var(--lightRed);
}
.error::placeholder{
	color: var(--gray);
}


@media only screen and (min-width: 900px){

	.flex{
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0;
	    padding: 0;
	}
	.main-heading{
		font-size: 2.25rem;
	}
	.sub-heading{
		font-size: 1rem;
	}
	.container{
		width: 38em;
	}
	#e-mail{
		width: 100%;
	}
	.input-arr{
		width: 60%
}
	#but{
		width: 40%;
		margin: 0 0 0 1em;
	}
	.main-image{
		width: 100%;
	}
	#formular{
	 	padding: 0.5em 0 1em 0;
	}
	#social{
		text-align: center;
		margin: 7em 0 3em 0;
	}
}


