*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Veardana ,sans-serif;
}
body{
	margin: 0 auto;
}
main{
	width: 90%;
}
.main-heading{
	text-align: center;
}
.descript{
	text-align:center ;

}
.formular{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.formulary{
	width: 22em;
	border: 1px solid red;
}
 

.formulary input{
	display: block;
}
