:root{
--darkCyan: hsl(185, 75%, 39%);
--darkBlue: hsl(229, 23%, 23%);
--grayishBlue: hsl(227, 10%, 46%);
--darkGray: hsl(0, 0%, 59%);
--darkGrayOP: hsla(0, 0%, 59%, .4);
--shadow :hsla(0,0%,0%,.15);

}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family:san-serif;
  color: var(--darkBlue);
  background-color: var(--darkCyan);
  background-image: 
  url('images/bg-pattern-bottom.svg'),
  url('images/bg-pattern-top.svg');
  background-position: bottom -200px right -200px, top -200px left -200px;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  font-family: 'Kumbh Sans', sans-serif;
}
@media only screen and (min-width: 800px){
  body{
    background-size: 50%;
    background-position: bottom -400px right -400px, top -400px left -400px;
    }
}

main{
  display:flex;
  justify-content:center;
  align-items:center;
  height:95vh;
}
.card{
  width:22em;
  border-radius:1em;
  text-align:center;
  display:flex;
  align-items:center;
  flex-direction:column;
  background-color:white;
  box-shadow: 2em 2em 2em var(--shadow);
}
.container{
  padding:1em;
}
.hero-image{
  border-radius:1em 1em 0 0 ;
  height:9em;
  width:22em;
 background: url('images/bg-pattern-card.svg');
}
.foto{
  width:6em;
  height:6em;
  margin-top:-3em;
  border-radius:50%;
  border:  2px solid white;
  

}
.stats{
  padding: 1em;
  border-top:1px solid var(--darkGrayOP);
  width:22em;
  display:flex;
  justify-content:space-around;
}
.user{
  margin:.25em;
}
.user span{
  color:var(--grayishBlue);
  font-weight: 400;
}
.city{
  margin-bottom:1em;
  color:var(--grayishBlue);
  font-weight:400;
}
.desc{
  padding:.2em;
  font-size:.75rem;
  color:var(--grayishBlue);
  font-weight:400;
  letter-spacing: 0.15em;
}
.stat{
  font-size:1.25rem;
  font-weight:600;
  
}


.attribution { 
  color: white;
  font-size: 11px; 
  text-align: center; }

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

  