
:root{
	--softViolet: hsl(273, 75%, 66%);
	--softBlue: hsl(240, 73%, 65%);

	--verydDarkBlue: hsl(238, 29%, 16%);
	--gray: hsl(240, 6%, 50%);
	--orange: hsl(14, 88%, 65%);
	--line: hsl(240, 5%, 91%);
}
body{
	background-image: linear-gradient(var(--softViolet), var(--softBlue));
  background-size: cover;
	margin: 0 auto;
	font-family: 'Kumbh Sans', sans-serif;
	height: 100vh;
}

main{
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container{
	padding: 1.5em;
	width: 20em;
	background-color: white;
	border-radius:1.5em;
}
.header{
	margin-top: -8em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.illustration{
	width: 15em;
}

.illustration-pattern{
	width: 15em;
	margin-top: -4.5em;
}
.site-title{
	text-align: center;
	color: black;
	padding: 0.5em;
	color: var(--verydDarkBlue);
}

.question{
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
	transition: ease .5s;
	cursor: pointer;
	color: var(--gray);
	font-weight: 400;
}
.question span{
	color: var(--orange);
}
.active{
	color: var(--verydDarkBlue);
	font-weight: 700;
}
.turn{
	transform: rotate(180deg);
}
.question:hover{
	color: var(--orange);
}
.answer{
	font-size: 0.8rem;
	padding-right: 2em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--gray);
}
.aq{
	border-bottom: 1px solid var(--line);
}
