:root{
 	--veryDarkBlue: hsl(217, 19%, 35%);
	--desaturatedDarkBlue: hsl(214, 17%, 51%);
	--grayishBlue: hsl(212, 23%, 69%);
	--lightGrayishBlue: hsl(210, 46%, 95%);
	--white: hsl(0, 100%, 100%);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--lightGrayishBlue);
	font-family: sans-serif;
	color: var(--desaturatedDarkBlue);
	line-height: 1.5em;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}

.card{
	width: 22em;
	background-color: var(--white);
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
}
.head-image{
	height: 15em;
	width: 100%;
	border-radius:  0.5em 0.5em 0 0;
	background: url("images/drawers.jpg");
	background-size: cover;
}

.p-1{
	padding: 0.75em 1.5em 0 1.5em;

}

.main-title{
	font-size: 1.2rem;
	margin: 1.5em 0;
}

.user{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75em 1.5em;
	margin-top: 1em;
	height: 4.5em;
}

.active-mobile{
	background-color: var(--veryDarkBlue);
	border-radius: 0 0 0.5em 0.5em;
}

.avatar{
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background: url("images/avatar-michelle.jpg");
	background-size: cover;
}

.name-detail h2{
	font-size: 1rem;
	color: var(--desaturatedDarkBlue);
}
.name-detail h3{
	font-size: 1rem;
	color: var(--grayishBlue);
	font-weight: 400;
	display
}
.icon{
	width: 2em;
	height: 2em;
	background-color: var(--lightGrayishBlue);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.share-div{
	width: 15em;
}
.share-div strong{
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
}

.active-mobile{
	background-color: var(--veryDarkBlue);
	border-radius: 0 0 0.5em 0.5em;
	flex-direction: row-reverse;
}
.flex-rev{
	flex-direction: row-reverse;
}

.socials img{
	margin-left: 0.5em;
	height: 1.4em;
}

.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.hidden{
	display: none;
}



@media only screen and (min-width: 900px){
	.card{
		width: 50em;
		flex-direction: row;
	}

	.head-image{
		height: 20em;
		border-radius:  0.5em 0 0 0.5em;
}
.name-detail{
	margin-left: -10em;
}

}
