:root{
 	--veryDarkBlue: hsl(217, 19%, 35%);
	--desaturatedDarkBlue: hsl(214, 17%, 51%);
	--grayishBlue: hsl(212, 23%, 69%);
	--lightGrayishBlue: hsl(210, 46%, 95%);
	--white: hsl(0, 100%, 100%);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--lightGrayishBlue);
	font-family: sans-serif;
	color: var(--desaturatedDarkBlue);
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}

.card{
	width: 22em;
	background-color: var(--white);
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
}
.head-image{
	height: 15em;
	width: 100%;
	border-radius:  0.5em 0.5em 0 0;
	background: url("images/drawers.jpg");
	background-size: cover;
}

.container{
	padding: 2em 2.5em;
}

.main-title{
	font-size: 1.2rem;
	margin: 1.5em 0;
}
.content{
	font-size: 1rem;
	padding-bottom: 2em;
	line-height: 1.5em;
	color: var(--grayishBlue)
}
.user{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.avatar{
	width: 3em;
	border-radius: 50%;
}
.name-detail h2{
	font-size: 1rem;
	color: var(--desaturatedDarkBlue);
}
.name-detail h3{
	font-size: 1rem;
	padding: 0.3rem 0;
	color: var(--grayishBlue);
	font-weight: 400;
	display
}
.icon{
	width: 2.5em;
	height: 2.5em;
	background-color: var(--lightGrayishBlue);
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
}

@media only screen and (min-width: 900px){
	.card{
		width: 50em;
		flex-direction: row;
	}

	.head-image{
		height: 20em;
		border-radius:  0.5em 0 0 0.5em;
}

}
